:root {
	--background-color: rgb(245, 245, 245);
}

body {
	background-color: var(--background-color);
}

#advancedOptionsBtn, #advancedOptionsContainer, #logo {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1000px) {

	#logo {
		max-width: 350px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 40%;
	}

	.encyclopedia-logo {
		max-width: 100px;
		max-height: 100px;
	}

	.encyclopedia-logo-container {
		display: inline-block;
		float: left;
		margin-left: -25px;
		padding-left: 9px;
		padding-right: 25px;
		height: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	#logo {
		width: 70%;
		height: 70%;
	}

	.encyclopedia-logo {
		width: 48px;
		height: 48px;
	    float: right;
	}

	.card-title {
		text-align: left;
		vertical-align: top;
	}
}

.search-result {
	padding-left: 15px;
	padding-right: 15px;
}

#searchBox {
	padding-top: 50px;
}

#resultsCard {
	margin-bottom: 20px;
}

#advancedOptionsBtn {
	width: fit-content;
}

#advancedOptionsContainer {
	width: 50%;
}

#resultsPane {
	margin-top: 30px;
}

#resultsBox {
	margin: 10px;
}

#preloader {
	padding-bottom: 10px;
}

#loadingText {
	display: block;
	padding-left: 15px;
	padding-top: 3px;
}