:root {
	--background-color: rgb(245, 245, 245);
}

[data-theme="dark"] {
	--background-color: #121212;
}

#logo {
	text-align: center;
	max-width: 350px;
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body {
	background-color: var(--background-color);
	background-image: url("/img/background.jpg");
}

.footer-copyright {
	padding-bottom: 5px;
}

.encyclopedia-logo {
	max-width: 30px;
	max-height: 30px;
	border-radius: 0px;
}

.header-text {
	padding-left: 5px;
}

#searchField {
	display: block;
	margin: auto;
}

#searchBox {
	margin-top: 5px;
	width: 50%;
}

#searchBtn {
	background-color: #189eff;
	margin-bottom: -7px;
	margin-right: 3px;
}

.divider {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 60%;
}

.switch-container {
	max-width: 50%;
	background-color: white;
	border: 1px solid #e0e0e0;
	padding: 5px;
	border-radius: 5px;
}

.switch {
	padding-bottom: 5px;
}