:root {
	--background-color: rgb(245, 245, 245);
}

[data-theme="dark"] {
	--background-color: #121212;
}

#logo {
	text-align: center;
	max-width: 350px;
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body {
	background-color: var(--background-color);
	background-image: url("/img/background.jpg");
}

.nav-wrapper {
	background-color: #189eff;
}

.brand-logo {
	max-height: 52px;
}

.collection {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.wrapper-wrapper {
	text-align: center;
	padding-top: 15px;
}

#resultsText {
	text-align: center;
	font-size: 25px;
}

.input-field {
	width: 100%;
}

.encyclopedia-logo {
	border-radius: 0px !important;
}